@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Outfit:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --White: hsl(0, 0%, 100%);
    --Cream: hsl(30, 38%, 92%);
    --Dark-cyan: hsl(158, 36%, 37%);
    --Dark-grayish-blue: hsl(228, 12%, 48%);
    --Very-dark-blue: hsl(212, 21%, 14%);
}

body {
    background-color: var(--Cream);
    font-size: 0.875rem;
    display: flex;
    justify-content: center;
}

.layout-container {
    display: flex;
    margin:10%;
    /* width: 100%; */
    /* margin: 20vh 60vh; */
    /* width: min-content; */
    /* margin:  auto; */
    /* justify-self: center;
    align-self: center; */
}

.pro-image-desktop img {
    max-width: 17.5rem;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.product-container {
    background-color: var(--White);
    max-width: 17.5rem;
    padding: 1.563rem;
    border-bottom-right-radius: 1.25rem;
    border-top-right-radius: 1.25rem;
}

.category-name {
    color: var(--Dark-grayish-blue);
    letter-spacing: 0.25rem;
    font-family: Montserrat;
    font-weight: 500;
    margin-top: 0.313rem;
    margin-bottom: 0.938rem;
    font-size: 0.875rem;
}

.product-name {
    margin: 0.825rem 0rem;
    color: var(--Very-dark-blue);
    line-height: 2.1rem;
    font-size: 1.9rem;
    font-family: Fraunces;
    /* font-weight: 700px; */
    width: 13rem;
}

.product-description {
    color: var(--Dark-grayish-blue);
    line-height: 1.25rem;
    margin-bottom: 0.825rem;
    word-spacing: 0.125rem;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 0.875rem;
}

.price {
    display: flex;
    color: var(--Dark-cyan);
    margin: 1.25rem 0rem;
    /* padding: 0rem 0.625rem; */
    justify-content: flex-start;
    align-items: center;
}

.current-price {
    font-family: Fraunces;
    font-weight: 700;
    font-size: 1.75rem;
    margin-right: 0.938rem;
}

.old-price {
    font-size: 0.985rem;
    text-decoration: line-through;
    font-weight: 500;
}

.button{
    width:100% ;
    display: flex;
    margin-top: 2.125rem;
}

button {
    background-color: var(--Dark-cyan);
    color: var(--White);
    border-radius: 7px;
    border: none;
    padding: 0.625rem 30%;
}

button:hover{
    background-color: var(--Very-dark-blue);
}

button img{
    margin: 0rem 0.125rem;
}